build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch

forge/run/**
forge/server
fabric/run/**
fabric/run2
fabric/server